<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="template.mailbox">

    <application>

        <activity
            android:name=".ActivitySplash"
            android:exported="false"
            android:theme="@style/App.Mailbox.AppTheme" />

        <activity
            android:name=".ActivityMain"
            android:exported="false"
            android:theme="@style/App.Mailbox.AppTheme" />

        <activity
            android:name=".ActivityMailDetails"
            android:exported="false"
            android:theme="@style/App.Mailbox.AppTheme" />

        <activity
            android:name=".ActivityComposeMail"
            android:exported="false"
            android:theme="@style/App.Mailbox.AppTheme" />

    </application>

</manifest>